# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so
*.dylib

# Compiled Static libraries
*.lai
*.la
*.a

# Compiled executable
UniversalChessServer

# YouCompleteMe vim addon settings
.ycm_extra_conf.py
.ycm_extra_conf.pyc
